# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Env
venv/
.venv/
backend/venv/

# IDE
.idea/
.vscode/

# Env
.env

# Node
node_modules/

# Logs
*.log
logs/

# Database
*.db

# AI Models
*.pt
*.pth

# Dataset
dataset/

# Runtime files
backend/data/uploads/
backend/data/live/

# Build
dist/
build/